@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,400;0,800;0,900;1,500;1,800;1,900&family=Russo+One&family=Share+Tech+Mono&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  list-style: none;
  text-decoration: none;
}


header {
  background-color: #0a0538a6;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0 50px;
  z-index: 999;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.menu a:hover {
  color: #dda200;
}

.hamburguer-menu {
  display: none;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  z-index: 999;
}

@media (max-width: 480px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    margin: 0 10px;
  }

  .logo h3 {
    color: #d31010;
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 25px;
  }


  .menu {
    flex-direction: column;
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #0a0538dc;
    display: none;
  }

  .menu.show {
    display: flex;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    margin: 0;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }

  .menu li a {
    font-size: 20px;
  }

  .hamburguer-menu {
    display: block;
    margin: 0 10px;
  }

  .logo {
    margin: 30px;
    text-align: center;
  }

  .foto {
    position: absolute;
    width: 530px;
    top: 500px;
  }

  .foto img {
    width: 530px;
    left: -50px;
    top: 500px;
  }

}

@media (max-width: 768px) {

  .menu {
    flex-direction: column;
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #0a0538dc;
    display: none;
  }

  .menu.show {
    display: flex;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    margin: 0;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }

  .menu li a {
    font-size: 20px;
  }

  .hamburguer-menu {
    display: block;
    margin: 0 50px;
  }

  .logo {
    margin: 0;
    text-align: center;
  }

  .tela-inicial h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px !important;

  }
}

.tela-inicial {
  position: relative;
  height: 100vh;
  background-image: url(BG-2.webp);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  overflow: hidden;
  z-index: -1;
}

.tela-inicial::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #0B0825;
  color: #fff;
  inset: 0;
  opacity: 0.9;
  z-index: -1;
}

.tela-inicial::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 40vh;
  background-color: #dda200;
  z-index: -1;
  color: #fff;
  transform: rotate(-1deg);
}

.tela-inicial h1 {
  position: absolute;
  color: #fff;
  left: 500px;
  font-size: 50px;
  text-transform: uppercase;
}

.tela-inicial strong {
  position: relative;
  color: #0B0825;
}

.foto {
  position: absolute;
  left: 0;
}

.foto img {
  position: absolute;
  width: 530px;
  top: -250px;
}

.animacao-botao {
  width: 30px;
  height: 50px;
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
  transform: translate(50%, -180%);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bolinha {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #616161;
  animation: bolinha 2.2s ease-in-out infinite;
  transition: .5s;
}

@keyframes bolinha {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
    background-color: #0B0825;
  }
}

footer {
  background-color: rgb(10, 5, 56);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7vh;
}

footer img {
  margin: 20px;
}

footer p strong {
  color: #ffffff;
}

footer p span {
  color: #BA8A0D;
}

footer p span strong {
  color: #07da00;
}

.redeSociais i {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #E201FF;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 10px;
}

.redeSociais i:hover {
  background-color: #dda200;
  color: #fff;
}


@media (max-width: 1500px) {}

@media all and (max-width: 768px) {}

@media all and (max-width: 600px) {}

@media all and (max-width: 480px) {}