@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,400;0,800;0,900;1,500;1,800;1,900&family=Russo+One&family=Share+Tech+Mono&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    list-style: none;
    text-decoration: none;
}

header{
    position: relative;
    height: 100vh;
    background-color: rgb(15,38,84);
    background-image: url(wallpaper.webp);
    background-position: 50% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    isolation: isolate;
}
header::after{
    content: '';
    position: absolute;
    background-color: rgb(4, 35, 109);
    display: flex;
    align-items: center;
    inset: 0;
    position: absolute;
    opacity: 0.4;
    z-index: -1;
}

.container-header{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    background-image: linear-gradient(to top, #E201FF, #FCB6FC); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.container-header h3{
    font-weight: lighter;
    margin-top: 60px;
    font-size: 15px;
}
.container-header h1{
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 20px;
    letter-spacing: 3px;
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.container-header .trabalho{
    text-transform: uppercase;
    font-weight: 900;
    display: block;
    margin-top: -15px;
}

.titulo{
    margin-left: 170px;
}
.imesao{
    color: rgb(234,175,11);
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 7px;
}
.Construindo{
    color: aliceblue;
    font-weight: lighter;
    font-size: 18px;
}
 
button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-left: 10%;
    background-color: rgb(234,175,11);
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}
button:hover{
    background-color: #cb980b;
}

.animacao-botao{
    width: 30px;
    height: 50px;
    border-radius: 20px;
    background-color: #ffffff;
    text-align: center;
    transform: translate(50%, -180%);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bolinha {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #616161;
    animation: bolinha 2.2s ease-in-out infinite;
    transition: .5s;
  }
  
  @keyframes bolinha {
    0% {
      transform: translateY(0);
    }
    50%{
      transform: translateY(10px); 
      background-color: #a50bcb;
    }
  }
  
  .section-geral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 630px;
    margin-top: -150px;
  }

   .section-geral h1{
    text-transform: uppercase;
    font-weight:900;
    font-size: 27px;
  }

  .descoberta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    max-width: 1000px;
    
  }
  .descoberta i{
    font-size: 70px;
    margin-bottom: 30px;
    margin-top: 50px;
    color: #E201FF;
  }

 .quem-sou-eu{
    height: 120vh;
    background-color: rgb(8, 0, 27);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 .quem-sou-eu h1{
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  }
 .quem-sou-eu span{
    color: #dda200;
  }
 .quem-sou-eu strong span{
  font-family: 'Russo One', sans-serif;
  }
 .quem-sou-eu p{
    max-width: 800px;
    text-align: justify;
    font-size: 16px;
    text-indent: 50px;
  }

  .foto img{
    display: flex;
    width: 150px;
    margin-top: 30px;   
    border: 15px solid rgba(138, 138, 138, 0.336);
    border-radius: 50%;
  }
  .capas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    padding: 50px;
    height: 50vh;
  }
.livro {
    display: flex;
}

.imagem img {
    max-width: 400px;
    margin-right: 20px;
}

.texto {
    display: flex;
    flex-direction: column;
}
.texto h1{
   margin-top: 5px;
   color: #da00f7;
}
.texto h2{
   font-weight: lighter;
}
.texto p{
    text-align: justify;
    margin-top: 10px;
    width: 500px;
    text-indent: 50px;
}
  .botao-livro button{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  footer{
    background-color: rgb(10, 5, 56);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7vh;
  }
  footer img{
    margin: 20px;
  }
  footer p strong{
   color: #ffffff;
  }
  footer p span{
   color: #BA8A0D;
  }
  footer p span strong{
   color: #07da00;
  }

  .redeSociais i {
    display: inline-block;
    margin-right: 10px; 
    font-size: 24px; 
    width: 40px; 
    height: 40px; 
    line-height: 40px; 
    text-align: center; 
    background-color: #E201FF;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 10px;
  }
  .redeSociais i:hover {
    background-color: #dda200;
    color: #fff;
  }
  
/* Estilos aplicados em telas grandes, com largura maior que 1200 pixels */
@media (max-width: 1500px) {
  header{
    height: 100vh;
    background-position: 90% 10%;
}
.container-header h1{
    font-family: 'Russo One', sans-serif;
}
.animacao-botao{
    transform: translate(-50%, -160%);
}
.quem-sou-eu p{
  display: flex;
  flex-wrap: wrap;
  width: 650px;
}
.quem-sou-eu {
  height: 150vh;
}
  footer p{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
  }
  .capas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    padding: 50px;
  }
.livro {
    display: flex;
}

.imagem img {
    max-width: 400px;   
}
}

  /* Media query para telas com largura menor ou igual a 768px */
@media all and (max-width: 768px) {
    header{
        background-position: 85% 10%;
        height: 100vh;
        overflow-x: hidden;
    }
    .container-header h1{
        margin: auto 5px;
        font-size: 50px;
        font-family: 'Russo One', sans-serif;
        display: flex;
        flex-wrap: wrap;
        width: 400px; 
    }
    .imesao,
    .Construindo{
        margin: auto -100px;
    }
    button{
        width: 220px;   
    }
    .section-geral{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 120vh;
      margin: 0 auto;
      
    }
    .section-geral h1{
      display: flex;
      flex-wrap: wrap;
      width: 500px; 
    }
  
    .descoberta{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: 400px;
  
    }
    .descoberta i{
      font-size: 50px;
      margin: 30px 0 30px;
    }

    .quem-sou-eu{
      height: 180vh;
    }
   .quem-sou-eu h1{
      text-transform: uppercase;
    }
   .quem-sou-eu h1 strong{
      text-transform: uppercase;
    }
   .quem-sou-eu p{
      text-align: justify;
      font-size: 16px;
      text-indent: 50px;
      flex-wrap: wrap;
      width: 400px; 
    }
    .foto img{
      display: flex;
      width: 150px;
      margin-top: 30px;   
      border: 15px solid rgba(138, 138, 138, 0.336);
      border-radius: 50%;
    }
    .capas-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 80px;
      padding: 50px;
      height: 140vh;
    }
  .livro {
      display: flex;
      flex-direction: column;
  }
  
  .imagem img {
      max-width: 400px;   
  }

  .texto p{
      text-align: justify;
      margin-top: 10px;
      width: 400px;
      text-indent: 50px;
  }
  }

  @media all and (max-width: 600px) {
    header{
        background-position: 90%;
        background-image: url(wallpaper.webp);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        isolation: isolate;
        position: relative;
        
    }
    header::after{
        content: '';
        background-position: 60% 0;
        background-color: rgb(9, 13, 22);
        display: flex;
        align-items: center;
        inset: 0;
        position: absolute;
        opacity: 0.6;
        z-index: -1;
    }
    .container-header h1{
        font-size: 45px;
        font-family: 'Russo One', sans-serif;
        margin: auto;
    }
    
    button{
        width: 220px;
        margin: 0% auto 50px; 
    }
    .bolinha,
    .animacao-botao {
        display: none;
      }
      .titulo{
        display: flex;
        flex-direction: column;
        margin: 0%;
      }
  
      .section-geral{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 120vh;
        margin: 0 auto;
      }
      .section-geral span{
       display: block;
      }
      .section-geral h1{
        text-transform: uppercase;
        font-weight:900;
        font-size: 27px;
        margin-bottom: 90px;
      }
      .descoberta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 300px;
      }
      .descoberta i{
        font-size: 50px;
        margin: 30px 0 30px;
      }

      .quem-sou-eu{
        height: 152vh;
        background-color: rgb(44, 44, 44);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
     .quem-sou-eu h1{
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
      }
     .quem-sou-eu p{
        max-width: 350px;
        text-align: justify;
        font-size: 16px;
        text-indent: 50px;
      }
    
      .foto img{
        display: flex;
        width: 150px;
        border: 15px solid rgba(138, 138, 138, 0.336);
        border-radius: 50%;
      }
      footer{

      }
      footer p{
        max-width: 350px;
      }

      footer p strong{
       color: #ffffff;
      }
      footer p span{
       color: #BA8A0D;
      }
      footer p span strong{
       color: #07da00;
      }
      footer{
        background-color: rgb(10, 5, 56);
        color: #fff;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: -500px 20px;
      }
  }
  @media all and (max-width: 480px) {
    header{
        background-position: 90%;
        background-image: url(wallpaper.webp);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        isolation: isolate;
        position: relative;  
    }
    header::after{
        content: '';
        background-position: 60% 0;
        background-color: rgb(9, 13, 22);
        display: flex;
        align-items: center;
        inset: 0;
        position: absolute;
        opacity: 0.7;
        z-index: -1;
    }
   
    .container-header h1{
        font-size: 45px;
        font-family: 'Russo One', sans-serif;
        margin: auto;
    }
    
    button{
        width: 220px;
        margin: 30px;  
    }
    .bolinha,
    .animacao-botao {
        display: none;
      }
  
      .section-geral{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 120vh;
        margin: 0 auto; 
      }

      .section-geral h1{
        text-transform: uppercase;
        font-weight:900;
        font-size: 27px;
        display: flex;
        flex-wrap: wrap;
        width: 360px;
      }
      .descoberta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .descoberta i{
        font-size: 50px;
        margin: 30px 0 30px;
        color: #E201FF;
      }

      .quem-sou-eu{
        height: 152vh;
        background-color: rgb(44, 44, 44);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
     .quem-sou-eu h1{
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
      }
     .quem-sou-eu p{
        max-width: 350px;
        text-align: justify;
        font-size: 16px;
        text-indent: 50px;
      }
    
      .foto img{
        display: flex;
        width: 150px;
        border: 15px solid rgba(138, 138, 138, 0.336);
        border-radius: 50%;
      }
      .capas-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 120vh;
      }
    .livro {
        display: flex;
    }
    .capas-container p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
    }
    
    .imagem img {
        max-width: 350px;   
    }

      footer p{
        max-width: 350px;
      }

      footer p strong{
       color: #ffffff;
      }
      footer p span{
       color: #BA8A0D;
      }
      footer p span strong{
       color: #07da00;
      }
      footer{
        background-color: rgb(10, 5, 56);
        color: #fff;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: -500px 20px;
      }
  }